.product-list {
    background-color: white;
    height: 900px;
    position: relative;
    width: 1440px;
}

.product-list .overlap-group9 {
    height: 17px;
    left: 652px;
    position: absolute;
    top: 112px;
    width: 123px;
}

.product-list .place {
    color: #00000099;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
}

.product-list .produk {
    color: black;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    left: 63px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
}

.product-list .keyboardarrowright {
    height: 16px;
    left: 52px;
    position: absolute;
    top: 1px;
    width: 16px;
}

.product-list .overlap-group {
    background-image: url(vector.svg);
    background-size: 100% 100%;
    height: 8px;
    left: 5px;
    position: relative;
    top: 4px;
    width: 6px;
}

.product-list .vector {
    height: 1px;
    left: 3px;
    position: absolute;
    top: 4px;
    width: 1px;
}

.product-list .furnitur {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 10px;
    height: 243px;
    left: 173px;
    overflow: hidden;
    position: absolute;
    top: 190px;
    width: 344px;
}

.product-list .overlap-group1 {
    background-image: url(image-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 325px;
    left: -35px;
    position: relative;
    top: -82px;
    width: 487px;
}

.product-list .furnitur-1 {
    height: 149px;
    left: 94px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 129px;
    width: 226px;
}

.product-list .aksesori {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 10px;
    height: 243px;
    left: 548px;
    overflow: hidden;
    position: absolute;
    top: 190px;
    width: 344px;
}

.product-list .overlap-group2 {
    background-image: url(image-1-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 325px;
    left: -35px;
    position: relative;
    top: -82px;
    width: 487px;
}

.product-list .aksesori-1 {
    height: 149px;
    left: 94px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 129px;
    width: 226px;
}

.product-list .peralatan-masak {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 10px;
    height: 243px;
    left: 923px;
    overflow: hidden;
    position: absolute;
    top: 196px;
    width: 344px;
}

.product-list .overlap-group3 {
    background-image: url(image-1-2.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 325px;
    left: -35px;
    position: relative;
    top: -82px;
    width: 487px;
}

.product-list .peralatan {
    height: 149px;
    left: 94px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 129px;
    width: 226px;
}

.product-list .perlengkapan {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 10px;
    height: 243px;
    left: 173px;
    overflow: hidden;
    position: absolute;
    top: 467px;
    width: 344px;
}

.product-list .overlap-group4 {
    background-image: url(image-1-3.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 325px;
    left: -35px;
    position: relative;
    top: -82px;
    width: 487px;
}

.product-list .perlengkapan-1 {
    height: 149px;
    left: 94px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 129px;
    width: 226px;
}

.product-list .penawaran-terbatas {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 10px;
    height: 243px;
    left: 548px;
    overflow: hidden;
    position: absolute;
    top: 467px;
    width: 344px;
}

.product-list .overlap-group5 {
    background-image: url(image-1-4.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 325px;
    left: -35px;
    position: relative;
    top: -82px;
    width: 487px;
}

.product-list .furnitur-2 {
    height: 149px;
    left: 94px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 129px;
    width: 226px;
}

.product-list .harus-punya {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 10px;
    height: 243px;
    left: 923px;
    overflow: hidden;
    position: absolute;
    top: 467px;
    width: 344px;
}

.product-list .overlap-group6 {
    background-image: url(image-1-5.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 325px;
    left: -35px;
    position: relative;
    top: -82px;
    width: 487px;
}

.product-list .furnitur-3 {
    height: 149px;
    left: 94px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 129px;
    width: 226px;
}

.product-list .nav-bg {
    background-color: red;
    height: 52px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1440px;
}

.product-list .promosi {
    color: white;
    font-size: large;
    font-weight: bolder;
    font-family: Roboto;
    height: 16px;
    left: 694px;
    position: fixed;
    top: 17px;
    width: 80px;
}

.product-list .produk-1 {
    color: white;
    font-size: large;
    font-weight: bolder;
    font-family: Roboto;
    height: 52px;
    left: 826px;
    letter-spacing: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 96px;
}

.product-list .ruangan {
    color: white;
    font-size: large;
    font-weight: bolder;
    font-family: Roboto;
    height: 52px;
    left: 967px;
    letter-spacing: 0;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 96px;
}

.product-list .transliving-logo {
    height: 37px;
    left: 168px;
    object-fit: cover;
    position: fixed;
    top: 11px;
    width: 221px;
}

.product-list .wishlist {
    height: 31px;
    left: 1131px;
    position: fixed;
    top: 14px;
    width: 31px;
}

.product-list .overlap-group7 {
    height: 24px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 26px;
}

.product-list .vector-1 {
    height: 1px;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 1px;
}

.product-list .vector-2 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 26px;
}

.product-list .search {
    height: 35px;
    left: 1203px;
    position: fixed;
    top: 10px;
    width: 36px;
}

.product-list .overlap-group8 {
    background-image: url(vector-4.svg);
    background-size: 100% 100%;
    height: 26px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 27px;
}

.product-list .vector-3 {
    height: 1px;
    left: 14px;
    position: absolute;
    top: 13px;
    width: 1px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:700|Work+Sans:700");
.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal {
    flex-shrink: 0;
    pointer-events: auto;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}